.container {
  position: relative;
  text-align: center;
}

.left-box {
  text-align: left;
  margin-bottom: 1.5em;
}

.contact-box {
  text-align: left;
  border-style: dotted;
  max-width: 600px;
}

.centered-box {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-lg{
  padding: calc(0.2em + 0.2vw);
  font-size: calc(0.5em + 0.8vw);
}

.btn-hg{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: calc(0.2em + 0.2vw);
  font-size: calc(0.5em + 1vw);
}

.btn-white-border {
  border-color: white;
  border-width: medium;
}

.info-box {
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #C3DAEE;
  border-color: #2D3090;
  border-width: 0.5em;
  border-radius: 1em;
  border-style: ridge;
  text-align: left;
  font-size: calc(0.5em + 0.5vw);
}

.map-box {
  margin-top: 1em;
  margin-bottom: 2em;
  border-width: 0.5em;
}

footer {
  text-align: center;
}

.footer {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.footer-container {
  display: inline-block;
}

.footer-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-left {
  float: left;
  text-align: left;
  width: 524px;
  padding: 1.0em;
}

.footer-right {
  float: right;
  width: 524px;
}

.support-logo {
  display: inline;
}

.logo-img {
  width: 250px;
  padding: 1.2em 0.5em 0em 0.5em;
}
