footer {
  text-align: center;
}

.footer {
  text-align: center;
  display: inline-block;
  width: 1024px;
}

.footer-container {
  display: inline-block;
}

.footer-container-2 {
  display: flex;
}

.footer-left {
  float: left;
  text-align: left;
  width: 500px;
  color: #74736E;
  padding: 1.0em;
}

.footer-right {
  float: right;
  width: 524px;
}

.support-logo {
  display: inline;
}

.logo-img {
  width: 250px;
  padding: 1.2em 0.5em 0em 0.5em;
}
